@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
*{
  margin: 0;
  padding: 0;
}
/* .columns{
  background-color: purple;
}
#PersonalDataContainer{
  BACKGROUND-COLOR: green;
}
#ContentPerPage{
  BACKGROUND-COLOR: red;
} */